.login {
    width: 100%;
    height: 100vh;
    background-color: var(----white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
}

.logo{
    width: 75%;
    margin: auto;
    margin-bottom: 45px;
    display: none;
}

.title{
    font-size: var(--lg);
    font-weight: bold;
    color: var(--black);
    margin-bottom: 12px;
}

.subtitle{
    font-size: var(--md);
    color: var(--very-light-pink);
    margin-top: 0px;
    margin-bottom: 32px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height:30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 16px;
}

.primary-button{
    background-color: var(--accent_light);
    border: none;
    border-radius: 8px;
    height: 56px;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}

.primary-button:hover{
    background-color: var(--accent_dark);
    border: 2px var(--white) dotted;
    transform: scale(1.015);
}

.login-button {
    margin-top: 12px;
    margin-bottom: 30px;
}

.text_link {
    color: var(--accent_light);
    text-decoration: none;
    font-size: var(--md);
    cursor: pointer;
}

.text_link:hover {
    color: var(--accent_dark);
    text-decoration: underline;
}

.signup-button {
    margin-top: 12px;
    margin-bottom: 30px;
    width: 300px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10%;
}

.button-text {
    background-color: var(----white);
    border: 1.5px solid var(--accent_light);
    border-radius: 8px;
    height: 56px;
    width: 300px;
    cursor: pointer;
    font-size: var(--md);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 56px;
    color: var(--accent_light);
}

.primary-button:hover{
    background-color: var(--accent_dark);
    border: 2px var(--white) dotted;
    transform: scale(1.015);
}


@media (max-width: 640px) {
    .logo {
        display: block;
    }
}