:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --accent_light: #ACD9B2;
    --accent_dark: #5E9F9F;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

